@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Cabinet;
  src: url("./fonts/CabinetGrotesk-Regular.otf");
}

.regular-Cabinet {
  font-family: Cabinet;
}
.regular {
  font-family: Poppins;
}
